<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
<p>контролер с синтаксис this</p>
<div ng-controller='c1 as c1'>
    <div ng-controller='c2 as c2'>

        <div ng-controller='c3 as c3'>
            <button ng-click="showBook()">Show c3 Book</button>
            <button ng-click="c1.showBook()">Show c1 Book</button>
            {{m3}}
            {{c1.m3}}
            {{c2.m3}}
            {{c3.m3}}
        </div>
    </div>

</div>

</body>
</html>