/.idea/
/9648Example1.iml
/JavaFXExample/target/
/JavaThreadExample1/JavaThreadExample1.iml
/out/

/9657Specifications1JavaSpring/target/
/9667Data1JavaSpring/target/
/js1/src/main/resources/angularJS/a18/node_modules/
/js1/src/main/resources/angularJS/a25/node_modules/
/9703Camel1Java/.gradle/
/9703Camel1Java/build/

/**/target/
/**/*.iml
